@model IEnumerable<IT2030_Lab04_Mosinski_MusicStore.Models.Artist>

<div id="searchresults">
    <ul>
        @foreach(var item in Model)
        {
            <li>@item.Name</li>
        }
    </ul>
</div>
