
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<p>
    I am using this page as an example that both file paths <br /><br />("../Other/Details")
    <br/><br/><strong>AND</strong><br/><br/>("~/Views/Other/Details.cshtml")<br /><br /> 
    will correctly display the Details page when called from the Index() method in the HomeController.

    Nick Mosinski 2.9.2018   5:51 PM
</p>

