@model IEnumerable<IT2030_Lab04_Mosinski_MusicStore.Models.Album>

<h2>Store</h2>

<h3>Here is the list of albums:</h3>

<div id="albumsInGenre">
    <ul id="albumsList">
        @foreach(var item in Model)
        {
            <li>@Html.ActionLink(item.Title, "Details", new { id = item.AlbumId } )</li>
        }
    </ul>
</div>
